body {
	margin: 0;
}

.App {
	font-family: 'Maitree', serif;
	text-align: center;
	color: #a04843;
}

h1 {
	margin-bottom: 0;
	text-align: center;
	font-size: 60px;
}

/* Navbar */
a {
	text-decoration: none;
	color: white;
}

.navbar {
	background: #d16866;
	padding: 20px;
	color: white;
}




.p-3 {
	padding: 30px;
}

.loading {
	animation: loading 2s ease-in-out infinite alternate;
}

@keyframes loading {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}
}

.active {
	padding: 10px;
	border-radius: 8px;
	box-shadow: inset 0px 0px 10px 2px #ffffff;
	color: rgb(163, 179, 123);
}

option {
	background-color: #e5ede5;
}