body {
	margin: 0;
}

.App {
	font-family: 'Maitree', serif;
	text-align: center;
	color: #a04843;
}

h1 {
	margin-bottom: 0;
	text-align: center;
	font-size: 60px;
}


a {
	text-decoration: none;
	color: white;
}

.navbar {
	background: #041d19;
	padding: 20px;
	color: white;
}




.loading {
	animation: loading 2s ease-in-out infinite alternate;
}



.active {
	padding: 10px;
	border-radius: 8px;
	box-shadow: inset 0px 0px 10px 2px #ffffff;
	color: rgb(163, 179, 123);
}

option {
	background-color: #e5ede5;
}



.card-img {
	width: 250px;
	height: auto;

}



.tarjeta {
	display: flex;

	flex-wrap: wrap-reverse;
}